{% extends "index.html" %}

{% block content %}
<!-- display title -->
<h1 class="text-center">hello!</h1><br><br>
<h1 class="text-center"><img src="static/images/wolfguy.png" height="200px" width="200px"><br><br><br></h1>
<!-- display projects -->

<div class="container">
    {% for i in range(0, projects|length, 2) %}
    <div class="row">
        {% for j in range(i, (i+2)|my_min(projects|length)) %}
        <div class="col-md-6">
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">{{ projects[j]['author'] }}</a>
                        <small class="text-muted-mine">{{ projects[j]['date_posted'] }}</small>
                    </div>
                    <h2><a class="article-title" href="{{ projects[j]['url'] }}">{{ projects[j]['name'] }}</a></h2>
                    <p class="article-content"><img src="{{ projects[j]['img_src'] }}"
                            class="rounded-circle shadow-2-strong float-right" alt="..." width="100px" height="100px"
                            margin="200px"> &nbsp; &nbsp; &nbsp; {{ projects[j]['descr'] }}</p>
                </div>
            </article>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock content %}